.for_music {
  @include onDesktop {
    margin-bottom: 80px;
  }

  &__box {
    background-image: url(../images/for_music.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $color-text;
    border: solid 1px $fon-page;
    width: 100%;
    height: 100%;

    @include onDesktop {
      background-image: url(../images/for_music_mirror.png);
    }
  }

  &__bold_subtitle {
    @extend %bold_subtitle;
    margin: 40px 120px 20px 21px;

    @include onDesktop {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__subtitle {
    @extend %subtitle;
    padding-left: 40px;
    margin-bottom: 61px;
    
    @include onDesktop {
      font-size: 24px;
      line-height: 29px;
    }
  }
}