$fon-page: #0d0d0d;
$color-text: #fffcf9;
$color-active-fon-toggler:#7ffbb3;
$color-active-circle-toggler:#08833b;
$color-noactive-fon-toggler:#e8e8e8;
$color-noactive-circle-toggler: #4e4e4e;
$color-button-fon:#7a0901;
$color-noactive-close: #aaaaaa;
$color-active-close: #333333;
$color-bg-popup: rgba(21, 17, 17, 0.61);
$color-bg-form-field: #fff;
$color-bg-button-ok: #08833b;
$color-plus: #f4c500;

$transition-duration: .7s;